RewriteEngine On

# Stop processing if already in the /public directory
RewriteRule ^/ - [L]

# Static resources if they exist
RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
RewriteRule (.+) index/$1 [L]

# Route all other requests
RewriteRule (.*) index.php [L]